@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2 linear;
  scroll-behavior: smooth;
  font-family: "Open Sans", "Lato", sans-serif;
}

.slanted-edge {
  position: relative;
}

.slanted-edge::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  width: 40px;
  background: black;
  transform: skewX(25deg);
  z-index: -1;
}
